// COLORS
$primary-color: #CB997E;
$secondary-color: #CB997E;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #B7B7A4;

$dark-blue-text: #6B705C; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
